.recipez-summary {
    border: 1px solid #ddd;
    width: 90%;
    height: 80px;
    margin: 10px;
}

.recipez-summary:hover {
    transform: scale(0.9);
    transition: 0.3s;
}

.recipezz-img {
    width: 30%;
    height: 70px;
    border-radius: 0px;
    margin: 5px;
}

.recipe-name {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    color: black;
}